.text {
    font-family: "Quicksand";
    margin: 0 auto;
  }
  
  .subtext {
    font-family: "Quicksand";
    color: gray;
  }
  
  .card {
    max-width: 400px;
    margin: 0 auto;
    width: 33%;
    text-align: center;
   
  }

  .full-width{
      width: 100%;
  }