<div class="gridContainer">
  <dx-data-grid
    #grid
    id="grid"
    [keyExpr]="key"
    [dataSource]="datasource"
    [columns]="columns"
    [rowAlternationEnabled]="true"
    [showColumnLines]="false"
    [showRowLines]="true"
    [showBorders]="false"
    [allowColumnReordering]="true"
    [showBorders]="false"
    (onRowRemoving)="onRowRemoving($event)"
    (onRowRemoved)="onRowRemoved($event)"
    (onSelectionChanged)="onSelectionChanged($event)"
    [selectedRowKeys]="initialSelectedRows$ | async"
  >
    <!-- <dxo-state-storing [enabled]="true" type="localStorage" storageKey="storage"></dxo-state-storing> -->
    <dxo-selection
      [allowSelectAll] = "allowSelectAll"
      showCheckBoxesMode="always"
      selectAllMode="allPages"
      [mode]="columnSelectionMode"
    >
    </dxo-selection>
    
    <dxo-header-filter [visible]="showHeaderFilter"></dxo-header-filter>
    <dxo-search-panel
      [visible]="searchPanelVisible"
      [width]="350"
      placeholder="Buscar..."
    ></dxo-search-panel>
    <dxo-editing
      mode="row"
      [allowUpdating]="allowUpdating"
      [allowDeleting]="allowDeleting"
      [allowAdding]="allowAdding"
    >
    </dxo-editing>
    <dxo-remote-operations
      [filtering]="true"
      [sorting]="true"
      [grouping]="true"
    ></dxo-remote-operations>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[5, 10, 20]"
      [showInfo]="true"
    >
    </dxo-pager>
    <dxo-export [enabled]="exportEnabled" fileName="filename"></dxo-export>
    <dxo-column-chooser [enabled]="columnChooserEnabled" mode="select"></dxo-column-chooser>
    <dxo-paging [enabled]="allowPaging" [pageSize]="10"></dxo-paging>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-filter-row [visible]="allowFilter"></dxo-filter-row>
  </dx-data-grid>
</div>
