<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="personalFormGroup">
    <ng-template matStepLabel>{{ "INFO_PERSONAL" | translate }}</ng-template>
    <app-personal-data-form [user]="user$ | async"></app-personal-data-form>
  </mat-step>

  <mat-step [stepControl]="filtersFormGroup">
    <ng-template matStepLabel>{{ "FILTROS" | translate }}</ng-template>
    <app-user-filters-form></app-user-filters-form>
  </mat-step>

  <mat-step [stepControl]="appsFormGroup">
    <ng-template matStepLabel>{{ "APLICACIONES" | translate }}</ng-template>
    <app-apps-list></app-apps-list>
  </mat-step>

  <mat-step  [stepControl]="menusFormGroup">
    <ng-template matStepLabel>{{ "MENUES" | translate }}</ng-template>
    <app-menus-list></app-menus-list>
  </mat-step>

  <mat-step [stepControl]="specialAccessFormGroup">
    <ng-template matStepLabel>{{ "PERMISOS_ESPECIALES" | translate }}</ng-template>
    <app-special-permissions-list></app-special-permissions-list>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel> {{ "FIN" | translate }}</ng-template>
    <div class="form-group">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="text">OK!</mat-card-title>
          <mat-card-subtitle class="subtex">Formulario de alta finalizado</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="text">
            Presione el botón Finalizar para completar el proceso.
        </mat-card-content>
     
      </mat-card>
    </div>
    <div style="margin-top: 5px" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-end">
        <button (click)="submit()" mat-raised-button
            color="primary" type="button" matStepperNext>
            {{ "FINALIZAR" | translate }}
        </button>
        <button mat-raised-button class="action-button" matStepperPrevious color="default">
            {{ "ATRAS" | translate }}
        </button>
        <button mat-raised-button  class="action-button"  color="warn">
            {{ "CANCELAR" | translate }}
        </button>

    </div>
  </mat-step>
</mat-horizontal-stepper>