<form [formGroup]="personalFormGroup">
  <ng-template matStepLabel>{{
    "INFORMACION_PERSONAL" | translate
  }}</ng-template>
  <div>
    <mat-form-field class="full-width">
      <input
        id="name"
        formControlName="name"
        matInput
        placeholder="{{ 'NOMBRE' | translate }}"           
        required
      />
      <mat-error *ngIf="personalFormGroup.get('name').errors">
        {{ "MSG_ERROR_NOMBRE" | translate }}</mat-error
      >
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
      <input
        id="email"
        formControlName="email"
        matInput
        type="email"
        placeholder="Email"
        required
      />
      <mat-error *ngIf="personalFormGroup.get('email').errors">
        {{ "MSG_ERROR_EMAIL" | translate }}</mat-error
      >
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="full-width">
      <input
        id="url"
        formControlName="url"
        matInput
        type="text"
        placeholder="Url"
        required
      />
      <mat-error
        *ngIf="
          personalFormGroup.get('url').errors &&
          personalFormGroup.get('url').errors.validUrl
        "
      >
        {{ "MSG_ERROR_URL" | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" type="button" matStepperNext>
      {{ "SIGUIENTE" | translate }}
    </button>
  </div>
</form>