
<mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="text">{{ "PERMISOS_ESPECIALES" | translate}}</mat-card-title>
            <mat-card-subtitle class="subtext">Seleccione los permisos especiales que tendrá el usuario</mat-card-subtitle>
        </mat-card-header>
    
        <mat-card-content>
                <app-dx-table (selectionRowChanged)="onSelectionRowChanged($event)" [datasource]="apps" filename="permisos"
                [columns]="columns" [allowUpdating]="false" [allowDeleting]="false" [allowAdding]="false" [allowPaging]="false"
                columnSelectionMode="multiple" [columnChooserEnabled]="false" [exportEnabled]="false" [allowFilter]="false"
                [allowSorting]="false" [searchPanelVisible]="false" [showHeaderFilter]="false" [allowSelectAll]="true" key="id">
            </app-dx-table>
            <div style="margin-top: 5px;" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-end">
                <button mat-raised-button color="primary" type="button" matStepperNext>
                    {{ "SIGUIENTE" | translate }}
                </button>
                <button mat-raised-button class="action-button" matStepperPrevious color="default">
                    {{ "ATRAS" | translate }}
                </button>
                <button mat-raised-button class="action-button" color="accent">
                    {{ "LIMPIAR" | translate }}
                </button>
            </div>
            
        </mat-card-content>
    
    </mat-card>